{% extends 'base.html.twig' %}

{% block title %}New CityBreakDetails{% endblock %}

{% block body %}
    <h1>Create new CityBreakDetails</h1>

    {{ include('city_break_details/_form.html.twig') }}

    <a href="{{ path('city_break_details_index') }}">back to list</a>
{% endblock %}
